@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-brand-light text-brand-dark overflow-x-hidden;
    /* This creates the high-end subtle dot grid background */
    background-image: radial-gradient(#E2E8F0 1px, transparent 1px);
    background-size: 32px 32px;
  }

  /* Smooth scrolling for anchor links */
  html {
    scroll-behavior: smooth;
  }
}

/* Utility to hide scrollbar but keep functionality (good for horizontal lists) */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
